<a href="https://colab.research.google.com/github/avni19/avnishgiri/blob/master/class_01_4thMar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 5
y = "John"
z="India"
print(x)

5

**Python - **
Variable, datatype, list, tuple, set, dictionary

In [ ]:
print(x, '\n', y,z)

5
 John India

In [ ]:
print(x,y,z, sep='\n')

5
John
India

In [ ]:
print(type(z))

<class 'str'>

In [ ]:
a = 1,2,3,4
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
a= "A","B","C"
print(a)
print(type(a))

('A', 'B', 'C')
<class 'tuple'>

List
Lists are used to store multiple items in a single variable.
mutable

In [ ]:
  a = [ ]
  print(type(a))

<class 'list'>

In [ ]:
a=['a','b','c','d','e',4,5,6,"Avnish",]
print(a)

['a', 'b', 'c', 'd', 'e', 4, 5, 6, 'Avnish']

In [ ]:
a=["aan","baan","shaan"]
print(a)
a.append("kaan")
print(a)
a.insert(0,"jaan")
print(a)

['aan', 'baan', 'shaan']
['aan', 'baan', 'shaan', 'kaan']
['jaan', 'aan', 'baan', 'shaan', 'kaan']

In [ ]:
a=["anda","besan","murga","nandini"]
print(len(a))

4

In [ ]:
a[0:9]

['a', 'b', 'c', 'd', 'e', 4, 5, 6, 'Avnish']

In [ ]:
len(a)

9

In [ ]:
a[8]

'Avnish'

In [1]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [2]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [3]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [4]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [5]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [6]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [9]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

NameError: ignored

In [10]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [11]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [12]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [15]:
#A short hand for loop that will print all items in a list:
thislist = ["apple", "banana", "cherry"]

In [16]:
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [17]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

With list comprehension you can do all that with only one line of code:

In [18]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [20]:
newlist = [x for x in range(10)]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
newlist = [x for x in range(10) if x /2 >2]
newlist

[5, 6, 7, 8, 9]

In [29]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
a=[1,2,3,4,5,0,11,17,99,12,14]
thislist.sort()
a.sort()
print(a)
print(thislist)

[0, 1, 2, 3, 4, 5, 11, 12, 14, 17, 99]
['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [30]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [31]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [33]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

Make a copy of a list with the copy() method:

In [34]:


thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [35]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

List Methods
Python has a set of built-in methods that you can use on lists.

Method	Description
append()	Adds an element at the end of the list

clear()	Removes all the elements from the list

copy()	Returns a copy of the list

count()	Returns the number of elements with the specified value

extend()	Add the elements of a list (or any iterable), to the end of the current list


index()	Returns the index of the first element with the specified value

insert()	Adds an element at the specified position

pop()	Removes the element at the specified position

remove()	Removes the item with the specified value

reverse()	Reverses the order of the list

sort()	Sorts the list

In [38]:
thistuple = ("apple", "banana", "cherry",1,2,3, "aa")
print(thistuple)
print(type(thistuple))

('apple', 'banana', 'cherry', 1, 2, 3, 'aa')
<class 'tuple'>

Tuple
Tuples are used to store multiple items in a single variable.

Ordered
When we say that tuples are ordered, 
it means that the items have a defined order, and that order will not change.

Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Allow Duplicates
Since tuple are indexed, tuples can have items with the same value:

In [39]:
#Access tupe items
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [42]:
print(len(thistuple))

3

**List** is a collection which is ordered and changeable. Allows duplicate members.
**Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
**Set** is a collection which is unordered and unindexed. No duplicate members.
**Dictionary ** is a collection which is unordered and changeable. No duplicate members.

In [44]:
#Change Tuple Values
#Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
#But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple

x = ("apple", "banana", "indrani")
y = list(x)
y[1] = "avnish"
x = tuple(y)

print(x)

('apple', 'avnish', 'indrani')

In [45]:
#similary , we cant use append, remove, delete , clear function in case of tuple, if it is needed, first we have to convert it into list , then perform these operation and again convert list to tuple

In [47]:
#But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":
fruits = ("apple", "banana", "cherry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry']

Set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is both unordered and unindexed.

Sets are written with curly brackets.

In [48]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [49]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [50]:
#accessing the set
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [51]:

thisset.add("orange")

print(thisset)

{'orange', 'apple', 'banana', 'cherry'}

In [52]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'mango', 'apple', 'banana', 'pineapple', 'papaya', 'cherry'}

In [53]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'banana', 'orange', 'kiwi', 'cherry'}

In [54]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [55]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [56]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'banana', 'microsoft', 'cherry'}

Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

In [57]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [58]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [60]:
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [61]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [63]:
x = thisdict.values()
x

dict_values(['Ford', 'Mustang', 1964])